/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@500;600;700&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --hue-color: 190;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
}
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}



@layer base {
  * {
    @apply box-border m-0 p-0;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply text-[length:var(--normal-font-size)] bg-water-100  text-water-500 dark:text-water-300 dark:bg-water-900 mt-12 mb-0 mx-2;
    font-family: 'Open Sans', sans-serif;
  }
  h1,
  h2,
  h3 {
    @apply text-water-700 dark:text-water-300 font-semibold;
    font-family: 'Raleway', sans-serif;
  }
  ul {
    @apply list-none
  }
  a {
    @apply no-underline;
  }
  img,
  video {
    @apply max-w-full h-auto;
  }
  button,
  input {
    @apply text-[length:var(--normal-font-size)] border-0;
    font-family: 'Open Sans', sans-serif;
  }
  button {
    @apply cursor-pointer;
  }
  input {
    @apply outline-none
  }

  .sidebar {
    -webkit-animation: slide-top .5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-top .5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  
  @-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  
  @keyframes slide-top {
    0% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }

}
